{% extends "base.html" %}
{% block title %}Management Page{% endblock %}

{% block content %}
<div>
<p>This is the management page</p>
<p>Orders in Queue</p>

<body>

    {% for table in tables %}
                {{titles[loop.index]}}
                {{ table|safe }}
    {% endfor %}
    </body>
    <form action="" method="post">
        <div class="form-group">
            <input type="radio" id="Add" name="Add" value="Add">
            <label for="Add">Add Item</label><br>
            <input type="radio" id="Modify" name="Modify" value="Modify">
            <label for="Modify">Modify Item</label><br><br>
            <label for="Food Data">Update Stock</label>
            <input name="UpdateFoodName" class="form-control" id="InputFood"  placeholder="">
            <label for="">Update Type</label>
            <input type="type" name="UpdateType" class="form-control" id="InputType" placeholder="">
            <label for="">Update Price</label>
            <input type="price" name="UpdatePrice" class="form-control" id="InputPrice" placeholder="">
            <label for="">Update Supply</label>
            <input type="amount" name="UpdateAmount" class="form-control" id="InputAmount" placeholder="">
            <label for = ""> Delete Item</label>
            <input type="item" name="DeleteItem" class="form-control" id="InputItem" placeholder="">
        <button type="submit" class="btn btn-primary">Update</button>
        </div>
      </form>
      <p>Orders in Queue</p>
<ol>
    
    {% for table in orderQ %}
    {{titles[loop.index]}}
    <li>{{ table|safe }}</li>
    {% endfor %}     
</ol>
</div>
{% endblock %}