{% extends 'base.html' %}

{% block head %}
<title>Task rest</title>
{% endblock %}

{% block content %}
    <div class="card">

      <h1 class="center">Create an Account</h1>

      <form class = "field" method="POST" action= "" name="signup_form">

        {{ form.hidden_tag() }} 
        {{ form.username() }}
        {{ form.password() }}
        {{ form.submit() }}

      
      </form>
      <a href= "{{url_for('home')}}">Already have an account? Login!     
    </div>
  
  </div>
{% endblock %}